.carsfrom input {
  height: 40px;
  width: 100%;
  margin-bottom: 8px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid gray;
  outline: none;
}
.carsfrom textarea {
  width: 350px;
  height: 100px;
  border-radius: 7px;
}
.adding-product {
  width: 390px;
  border: 1px solid darkgray;
  border-radius: 15px;
}
.placeBtn {
  margin-bottom: 5px;
  margin-left: 38%;
}
